section.logo
  a(href='/')
    img(src='/images/bellota-logo.png')
  p=subtitle

section.interview
  div.column1
    :markdown
      How did the idea for an entrepreneurial valley originate?
      =========================================================

      From [theEvnt][], in Extremadura Spain, we found a spot to start an initiative similar to an association, collaboration or group, to bring together people with an entrepreneurial and technological background. At the time, the brand new [Cachirulo Valley][] inspired us and we decided to start our very own: Bellota Valley.

      [theEvnt]: http://2011.theevnt.com/
      [Cachirulo Valley]: http://cachirulovalley.com/

    img(src='images/bellota-map.png')
    
    :markdown
      What is the origin of your name?
      =================================

      "Bellota" is translated to "acorn" in English."Bellota Valley" comprises the intention, with the localization and customization of the area. Acorns are found everywhere in this region. On one hand, the name is casual, like us, people who take things seriously but like having fun and have a good time doing what they like. We believe that we must never lose that sense of humor. On the other hand, the term "Valley" involves a series of guidelines to follow with a common goal, improvement, networking, development.
    
    
    :markdown
      What's your philosophy? What are your goals?
      ==============================================

      We are serious but lighthearted. Enthusiastic and hard working. Motivated by passion. We seek the union of the entrepreneurial and the technological world to focus on the growth of our region; Extremadura.

      We came with the idea of being a repository of information, resources, ideas, collaboration, support and foster the "we can do it here" attitude.

      We welcome anyone inspired with ideas, the motivation to do things. They don't have to be big, but they must be part of you.

      We are enthusiastic.

    div.figure
      img(src='/images/bellota-registering.jpg')
      p Registering in Merida for our first networking event

  div.column2
    :markdown
      How long have you been working together?
      ========================================

      We organized a [LinkedIn][] group shortly before the summer of 2011.

      [LinkedIn]: http://www.linkedin.com/groups/Bellota-Valley-3956944
 
      What kind of activities do you do? Can anyone participate?
      ===========================================================

      We are starting and so far, during these first 6 months of life, we made a couple of networking meetings. Especially because Bellota Valley is not centered around one city, we are all around the region of Extremadura. 

      We created these events to get face to face, share ideas and talk about our short and medium term future.

      Our idea is to welcome everyone, but especially professionals. 

      We want to reach out to universities as well, and lay down the foundations of what it could mean finishing your career in Extremadura and develop your working life here.
      
     div.figure
      img(src='/images/bellota-networking.jpg')
      p A big group came out for our first networking event
      
    :markdown
      Do you have sponsors?
      =====================

      If we understand sponsor a global entity that pays for meetings or events, the answer is, "No", but looking at it from our angle, the answer is "Yes, each member of the valley is a sponsor". 

      We don't have the sponsorship of an entity or individual company, but several small businesses, individual people and some public entities. They all do their best to provide locations for activities, organize events and pay for what we need.
 
      How do you see the future of the Valley?
      ========================================

      We are just a baby in diapers. We were born in the second half of 2011. We are still discovering our world.

      We want to be self-organizing, flexible, simple and add value to the members of the Valley. 

      We are people that want to work hard and with a lot of ideas, so we expect to evolve successfully. The first impressions are unbeatable.