section.logo
  a(href='/')
    img(src='/images/cachirulo-logo.png')
  p=subtitle

section.interview
  div.column1
    :markdown
      How did the idea for an entrepreneurial valley originate?
      =========================================================
      In recent years, we have been experiencing a lot of movement around internet technologies in our region. We found good initiatives but there were not known. Or disconnected from the rest. So we wanted to build something to glue them together.

      We are very interested in finding people that are doing interesting things. 

      It's a way for us to spread more initiatives and create a culture of creativity in our region.

      What is the origin of your name?
      ================================
      One day, David Bonilla came to Saragossa. He organized [BoConf][]. It was quite successful. It was one of those moments were we noticed how many great projects we had in Aragon. But again, they were disconnected. 

      Bonilla gave us the name of __Cachirulo Valley__. A [cachirulo][] is a typical handkerchief from our region. 

      The name amused us.  We bought the domain with no clear idea about what to do with it. But shortly after this, we started taking our first steps towards building our valley.

      [BoConf]: http://sixservix.com/blog/david/2010/12/01/boconf-zaragoza-2010/
      [cachirulo]: http://es.wikipedia.org/wiki/Cachirulo

    div.figure
      img(src='/images/cachirulo-android.jpg')
      p Our recent Android Workshop

    :markdown
      What's your philosophy? What are your goals?
      ============================================
      We are the first ones to enjoy the activities that we organize and create. And while we have fun, our main goal is to help mature the industry of our region.

      We want people to have a more global vision of what it takes to build a product. Regardless of their background: business, marketing, development, design or communication.

      We want to promote connections between people by sharing experiences,  projects that are on the way, projects that are stuck. Learning about all of those to create even more projects that go further.

      How long have you been working together?
      ========================================
      Between January and February of 2011, we founded the group and launched the website. Ideas and events started pouring in. So, right now, we are doing this for less than a year.

  div.column2

    div.figure
      img(src='/images/cachirulo-ux.jpg')
      p During a recent UX workshop

    :markdown
      What kind of activities do you do? Can anyone participate?
      ==========================================================
      We have organized a couple of talks targeting business roles, and lately, we are doing more on hands workshop with different technologies.

      We organize what we call __Dummy Day__. It's an event where people come to present their projects in their current stage. The audience can participate by asking questions and give constructive advice about their project. It's a way to contrast your work against other people and experiences so we all learn together.

      In general, our events are for everyone. Maybe only our hands-on workshops are more technically focused.

      Do you have sponsors?
      =====================
      No. We are an open group composed of independent people, entrepreneurs, workers and freelancers. 

      But sometimes we collaborate with public and private organizations. Most of the sponsors give us money or space to host our events.

      How do you see the future of the Valley?
      ========================================
      We believe that we have reached most of what we could expect when we decided to start this journey.

      We will continue to grow our community and build more interesting things as the time goes. Almost all of our events are over full capacity and people request that we make more of them.

      New people are volunteering to give a talk, organize a workshop. We are getting new suggestions as well.

      So our future is promising. There is no doubt that we will continue to have fun for a long time :)
