section.logo
  a(href='/')
    img(src='/images/cachirulo-logo')
  p=subtitle

section.interview
  div.column1
    :markdown
      How did the idea for an entrepreneurial valley originate?
      =========================================================
      In Aragon(a Spanish region), in last years common people have been interested in Internet. We watched that there were people and interesting strategies also unknown or no connected. We try to join all of them. Reasons which promote meetings are  entreprenour people spread the interest in create projects to other people. We want to launch technical projects in our region.

      What is the origin of your name?
      ================================
      One day, David Bonilla came to Zaragoza. He organized BoConf (http://sixservix.com/blog/david/2010/12/01/boconf-zaragoza-2010/) It was quite successful. And at this moment we discovered how many great projects were in Aragon although we connected not enough. Bonilla called “Cachirulo Valley”. It amused us.  We bought the internet domain with no clear ideas about what was going to do. After this , we started building our valley

      What's your philosophy? What are your goals?
      ============================================
      First, we enjoy ourself with the activities we make (do, prepare) But the main proposal is help to improve technical business sector in Aragon.We hope many kinds of professional (marketing, developer, design, business people) have a global vision to develop products and technology businesses. We want people are connected and in general we don’t forget the project in a drawer. All  learn one each other so that more technical projects will be more viable thank to share know-how.

      How long have you been working together?
      ========================================
      We founded our group between January and February 2011, launch the web page and start up. (less one year)

      What kind of activities do you do? Can anyone participate?
      ==========================================================
      We have made a couple of mixed talks for business roles and product roles. Recently we have organized different technical workshops. "Dummy Day" is a special meeting. Some people show their project to the audience and submit to questions from the critics (always constructive) project. The entrepreneur can contrasts the project  with others, and the rest learn from the things others are doing.

      Do you have sponsors?
      =====================
      No, cachirulovalley  we are an open group composed of independent persons, entrepreneurs, employees and freelancers. Sometimes public and private organizations sponsor our talks or workshops or yield their venues. (rooms, buildings?)

      How do you see the future of the Valley?
      ========================================
      In my opinion we have reached more things that we hoped. And it seems to continue growing and making things more and more interesting. Almost all workshop are overwholmed and people ask for make more and more. :) People, who don’t know previously, are offering to give workshop and make us new suggestions.
So the future is promising. What is clear is that we're going to continue having a great time for a long time.

