section.logo
  p=subtitle

section.interview
  div.column1
    :markdown
      How did the idea for an entrepreneurial valley originate?
      =========================================================
      In recent years, we have been experiencing a lot of movement around internet technologies in our region by what we could call "normal people". We found good initiatives but there were not known. Or disconnected from the rest. So we wanted to build something to glue them together.

      We are very interested in finding people that are doing interesting things. It's a way for us to spread more initiatives and create a culture of creativity in our region.

      What is the origin of your name?
      ================================
      One day, David Bonilla came to Zaragoza. He organized BoConf (http://sixservix.com/blog/david/2010/12/01/boconf-zaragoza-2010/) It was quite successful. And at this moment we discovered how many great projects were in Aragon although we connected not enough. Bonilla called “Cachirulo Valley”. It amused us.  We bought the internet domain with no clear ideas about what was going to do. After this , we started building our valley

      What's your philosophy? What are your goals?
      ============================================
      First, we enjoy ourself with the activities we make (do, prepare) But the main proposal is help to improve technical business sector in Aragon.We hope many kinds of professional (marketing, developer, design, business people) have a global vision to develop products and technology businesses. We want people are connected and in general we don’t forget the project in a drawer. All  learn one each other so that more technical projects will be more viable thank to share know-how.