section.logo
  a(href='/')
    img(src='/images/event-mountain-logo.png')
  p=subtitle

section.interview
  div.column1
    h1 We are Cylicon Valley!
    div.members
      div.member
        a(href='http://twitter.com/semurat')
          img(src='/images/semurat.png')
          p Jorge
      div.member
        a(href='http://twitter.com/aloaisa') 
          img(src='/images/aloaisa.png')
          p Alvaro
      div.member
        a(href='http://twitter.com/flopezluis')
          img(src='/images/flopezluis.png')
          p Felix
      div.member
        a(href='http://twitter.com/javisantana')
          img(src='/images/javisantana.png')
          p Javi
      div.member
        a(href='http://twitter.com/amaliahern')
          img(src='/images/amaliahern.png')
          p Amalia

    :markdown
      How did the idea for a entrepreneurial valley originate?
      ========================================================

      The original idea came from a group of people of the local agile user group [AgileCyl][].

      We noticed that if we only made meetings around agile methodologies we would never reach other groups of professionals. 
      We knew entrepreneurial people so we wanted to create a place for all these people to share ideas.

      [AgileCyl]: http://agilecyl.org/

      What's the origin of your name?
      ===============================
        
      This is a funny story actually.
      We went to an event called [All together now][] during a weekend.
      In 48 hours, you had to develop a product from scratch.
      After the event, we wrote a blog post and in the comments someone called us Cylicon Valley.
      It's a joke, because it sounds like Silicon Valley when you say it in Spanish.

      [All together now]: http://alltogether.es/portada

    img(src='images/cylicon-map.png')

    :markdown
      What's your philosophy? What are your goals?
      ============================================
    
      We want to be a meeting point for people who want to do something. 
      We want to share technical knowledge, help people to start a project or need help getting sponsorship for their idea. 
      University, IT, everybody is welcomed.
    
      How long have you been working together?
      ========================================
    
      We started not long ago, we are still babies. 
      We have just a landing page and a twitter account. Every day we build a little bit more.


  div.column2
    :markdown
      What type of activities do you do? Can everyone participate?
      ============================================================
      
      We are going to organize talks, workshops and Open Space meetings, everyone is welcome! 
      Our doors are open for everyone. 
      We are looking to improve in the development of the new technologies in Castilla y Leon. 
      We would like to collaborate with the R&D department of the University. 
      We would like help the creation of jobs in our region. 
      Nowadays many very good local professionals of Castilla y Leon are working in other regions of Spain which is a pity.

    div.figure
      img(src='/images/cylicon-clojure-class.png')
      p A recent class on Functional Languages

    :markdown
      Do you have sponsors?
      =====================

      If you are talking about sponsorship the answer is no. But it doesn't matter.

      Many people are helping us, Mario del Valle Guijarro is designing our logo. 
      We can use the rooms of the centre of innovation of the council here in Valladolid
      (Centro de Innovacion del Ayuntamiento) for our meetings and workshops. Thanks, [Fernando Burgos][]. 
      There are other people that encourage us (and help): [Jezis][] and [Manuel][] from IniciadorValladolid, 
      Pencho from [ExeCyL][]. And of course all people from [AgileCyL][].
    
      [Fernando Burgos]: http://twitter.com/ditelnet
      [Jezis]: http://twitter.com/Jezis
      [Manuel]: http://twitter.com/manuelvl
      [ExeCyl]: http://twitter.com/execyl
      [AgileCyl]: http://agilecyl.org/about/

      How do you see the future of the valley?
      =======================================
      I see a bright and great future for us. Like all new ventures we are thrilled and have a lot energy to move this project forward. 
    
      It’s actually quite simple, when there is nothing, everything you do is a guaranteed success. 
      With the group we have gathered I’m pretty sure we will reach a lot of people and put a lot of professionals 
      (people with ideas, developers, designers entrepreneurs, freelancers and many more) of our area in contact with each other.
      
      And we'll be launching some exciting news at our site very soon. Visit us at [CyliconValley][]

      [CyliconValley]: http://www.cyliconvalley.es/