section.logo
  a(href='/')
    img(src='/images/event-mountain-logo.png')
  p=subtitle

section.interview
  div.column1
    h1 Hi there!
    ul This is...
      li
        a(href='http://twitter.com/semurat') Jorge Jimenez 
      li
        a(href='http://twitter.com/aloaisa') Alvaro G. Loaisa
      li
        a(href='http://twitter.com/flopezluis') Felix Lopez
      li
        a(href='http://twitter.com/javisantana') Javi Santana
      li 
        a(href='http://twitter.com/amaliahern') Amalia Hernandez
    p ... And we are Cylicon Valley!

    img(src='images/cylicon-map.png')

    h1 How did the idea for a entrepreneurial valley originate?
    p The original idea came from a group of people of the local agile user group 
      a(href='http://agilecyl.org/') agilecyl. 
    p We noticed that if we only made meetings around agile methodologies we would never reach other groups of professionals. We knew entrepreneurial people so we wanted to create a place for all these people to share ideas.

    h1 What's the origin of your name?
    p 
      | This is a funny story actually. We went to an event called 
      | <a href='http://alltogether.es/portada/'> All together now</a>,
      | during a weekend. 
      | In 48 hours you had to develop a product from scratch. 
      | After the event we wrote a blog post and in the comments someone called us CyLicon Valley. 
      | It is a joke, because it sounds like Silicon Valley when you say it in Spanish.

    h1 What's your philosophy? What are your goals?
    p We want to be a meeting point for people who want to do something. We want to share technical knowledge, help people to start a project or need help getting sponsorship for their idea. University, IT, everybody is welcomed.
    
    h1 How long have you been working together?
    p We started not long ago, we are still babies. We have just a landing page and a twitter account. Every day we build a little bit more.


  div.column2
    h1 What type of activities do you do? Can everyone participate?
    p We are going to organize talks, workshops and Open Space meetings, everyone is welcome! Our doors are open for everyone. We are looking to improve in the development of the new technologies in Castilla y Leon. We would like to collaborate with the R&D department of the University. We would like help the creation of jobs in our region. Nowadays many very good local professionals of Castilla y Leon are working in other regions of Spain which is a pity.
    h1 Do you have sponsors?
    p If you talk about sponsorship the answer is no. But it doesn’t matter. Many people are helping us, Mario del Valle Guijarro is designing our logo. We can use the rooms of the centre of innovation of the council here in Valladolid (Centro  de Innovacion del Ayuntamiento) for our meetings and workshops (Fernando Burgos); Iniciador Valladolid (Jezis, Manuel), Execyl (Pencho).
    
    h1 How do you see the future of the valley?
    p I see a bright and great future for us. Like all new ventures we are thrilled and have a lot energy to move this project forward. 
    p It’s actually quite simple, when there is nothing, everything you do is a guaranteed success. With the group we have gathered I’m pretty sure we will reach a lot of people and put a lot of professionals (people with ideas, developers, designers entrepreneurs, freelancers and many more) of our area in contact with each other.
