section.logo
  a(href='/')
    img(src='/images/event-mountain-logo.png')
  p=subtitle

section.explore
  p.big
    a(href='/cylicon')
      img(src='/images/valley-cylicon.png')
    a(href='/bellota')
      img(src='/images/valley-bellota.png')

section.discover
  p.big Discover the entrepreneurial valleys around you
  img(src='/images/discover-event-mountain.png')
    
section.meet
  img(src='/images/climb-event-mountain.png')
  p.big Meet their founders, their way to work

section.join
  p.big Join them and become what you always wanted to be
  img(src='/images/tent-event-mountain.png')

