!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Bowlby+One+SC')
  body
    header
      img(src='/images/event-mountain.png')
      ul
        li 
          a(href='#') Valley One
        li
          a(href='#') Valley Two
        li
          a(href='#') Valley Three
    section.main
      != body