!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Kelly+Slab', type='text/css')
  body
    header
      img(src='/images/event-mountain.png')
      div(class='logo')
        img(src='/images/event-mountain-logo.png')
        p Because every mountain has its valleys
    section.main
      != body
    section.footer
      p A small project by 
        a(href='http://path11.com') path11
