body {
    margin: 0;
    font-size: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    color: #EBEFF2;
    background-color:#193540;
}

header {
    overflow:hidden;
    padding-bottom: 3em;
}

footer {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 3em;
}

img {
    max-width: 100%;
}

p {
    padding-bottom: 1em;
}

h1 {
    font-family: 'Kelly Slab', sans-serif;
    line-height:normal;
    font-size: 1.5em;
    padding-bottom: 1em;
    padding-top: 1em;
}

a {
    color: yellow;
}
a:hover {
    color: aqua;
}

::selection {
    background-color: yellow;
    color: #193540;
}

::-moz-selection {
    background-color: yellow;
    color: #193540;
}

.logo {
    max-width: 800px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.logo img {
    float: left;
    width: 27%;
}

.logo p {
    float: right;
    width: 60%;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Kelly Slab', sans-serif;
    line-height:normal;
    text-transform: uppercase;
    color: #EBEFF2;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    width: 90%
}

.discover {
    overflow: hidden;
    padding-top: 4em;
}

.discover p {
    float: left;
    width: 40%;
}

.discover img {
    float: right;
    width: 60%;
}

.meet {
    overflow: hidden;
    padding-top: 6em;
}

.meet p {
    float: right;
    width: 60%;
}

.meet img {
    float: left;
    width: 30%;
}

.join {
    overflow: hidden;
    padding-top: 6em;
}

.join p {
    float: left;
    width: 70%;
}

.join img {
   float: right;
   width: 26%;
}

.explore {
    overflow: hidden;
    padding-top: 6em;
    text-align: center;
}

.big {
    font-family: 'Kelly Slab', sans-serif;
    line-height: normal;
    font-size: 2em;
    color: #EBEFF2;
    margin-top: 1em;
}

.interview {
    overflow: hidden;
}

.interview img {
    padding-bottom: 1em;
}

.column1 {
    padding-top: 2em;
    overflow: hidden;    
    float: left;
    width: 45%;
}

.column2 {
    padding-top: 2em;
    overflow: hidden;
    float: right;
    width: 45%;
}

.members {
    overflow: hidden;
    padding-bottom: 2em;
}

.member {
    width: 12%;
    float: left;
    border: 10px solid #A3D9EA;
    background-color: #A3D9EA;
    margin: 0.3em;
}

.member a {
    color: #193540;
    text-decoration: none;
}

.member p {
    text-align: center;
    font-size: 0.8em;
}

.member:hover {
    background-color: #FCEA10;
    border: 10px solid #FCEA10;
}

.figure {
    border: 10px solid #EBEFF2;
    background-color: #EBEFF2;
}
.figure img {
    margin: 0 auto;
    display: block;
}
.figure p {
    font-size: 0.8em;
    text-align: center;
    color: #193540;
}

/* iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* iPhone portrait and landscape */
@media only screen and (max-width: 767px) {
    .logo img {
        float:none;
        margin: 0 auto;
        display: block;
        width: 40%;
    }
    .logo p {
        padding-top: 2em;
        float: none;
        font-size: 1.3em;
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }
    .discover p {
        float: none;
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }
    .discover img {
        float:none;
        margin: 0 auto;
        display: block;
        width: 90%;
    }
    .meet img {
        float: none;
        margin: 0 auto;
        display: block;
        width: 40%;
    }
    .meet p {
        float: none;
        margin: 0 auto;
        text-align: center;
        width: 90%;
        padding-top: 1em;
    }
    .join p {
        float: none;
        margin: 0 auto;
        text-align: center;
        width: 90%;
        padding-top: 1em;
    }
    .join img {
        float: none;
        margin: 0 auto;
        display: block;
        width: 40%;
    }
    .big {
        font-size: 1.2em;
    }
    .column1 {
        float: none;
        margin: 0 auto;
        width: 90%;
    }
    .column2 {
        float: none;
        margin: 0 auto;
        width: 90%;
    }
    footer {
        font-size: 0.8em;
    }
}
