body {
    margin: 0;
    font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    overflow:hidden;
}

header ul {
    list-style-type: none;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

header li {
    float: left;
}

header li a {
    display: block;
    padding: 1em;
    margin: 1em;
    background-color: orange;
    color: darkblue;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}

header li a:hover {
    background-color: purple;
    color: white;
}

.main {
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

p {
    padding-bottom: 1em;
}